<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="dismissModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="container safe-area">
    <span>
      <h3 style="padding-left: 10px;">Call Notes</h3>
    </span>
    <div class="ion-padding" style="height: 94%;">
      <div *ngIf="!(callsState$ | async).callNotes || (callsState$ | async).callNotes.length <= 0">
        <cta-panel [topIcon]="'information-circle'" [title]="'callNotesPage.ctaPanel.title' | translate" [details]="'callNotesPage.ctaPanel.details' | translate"
          [extraDetails]="'callNotesPage.ctaPanel.extraDetails' | translate" [btnLabel]="'callNotesPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
      </div>

      <div class="list_div" *ngFor="let note of (callsState$ | async).callNotes;">
        <!--<img class="user_image bg_image" [src]="getAvatarUrl(note.UserId)" onerror="this.onerror=null;this.src='assets/images/defaultProfile.png';">-->
        <div class="detail">
          <ion-label class="username">{{note.FullName}}</ion-label>
          <span>
            <ion-label class="light">{{note.Note}}</ion-label>
            <ion-label class="time">{{note.TimestampFormatted}}</ion-label>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer">
  <div style="display: inherit;" class="footer_div">
    <form (ngSubmit)="saveNote()" [formGroup]="callNotesFormData">
      <ion-grid>
        <ion-row>
          <ion-col size="10" size-lg>
            <ion-input type="text" placeholder="Enter Note..." formControlName="message" [ngClass]="{'is-invalid': isSavingNote && callNotesFormData.errors}">
            </ion-input>
          </ion-col>
          <ion-col size="2" size-sm style="text-align: right;">
            <ion-button type="submit" style="text-align: right;">
              <ion-icon name="save-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-footer>