<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button
      size="small"
      color="light"
      (click)="dismissModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="container ion-padding">
    <ion-grid style="margin-left: 10px; margin-right: 10px;">
      <ion-row class="ion-padding-top">
        <ion-col>
            <ion-item lines="none" class="ion-no-padding">
              <ion-select placeholder="Choose Stream" label="{{'selectAudioStreamModal.streamLabel' | translate}}" [compareWith]="compareWith" [(ngModel)]="selectedChannel" interface="action-sheet">
                <ion-select-option *ngFor="let stream of (voiceState$ | async).audioStreams;" [value]="stream">{{ stream.Name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button
              class="action-button"
              expand="block"
              fill="solid"
              color="primary"
              type="submit"
              (click)="set()">
              <span>{{'selectAudioStreamModal.setButton' | translate}}</span>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

