<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'viewMessagePage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="essential-theme">
  <h1 class="ion-padding-horizontal">{{(messagesState$ | async).viewMessage?.Subject}}</h1>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="getAvatarUrl((messagesState$ | async).viewMessage?.SendingUserId)">
      </ion-avatar>
      <ion-label>
        <h2>{{(messagesState$ | async).viewMessage?.SendingName}}</h2>
        <p>{{'viewMessagePage.toYou' | translate}} • {{formatDate((messagesState$ | async).viewMessage?.SentOn)}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding-horizontal" style="padding-top: 10px;" [innerHtml]="(messagesState$ | async).viewMessage?.Body">

  </div>

  <ion-item-divider style="padding-top: 24px;" [hidden]="(messagesState$ | async).viewMessage?.Type === 0 || !isInTheFuture((messagesState$ | async).viewMessage) || !canSignup((messagesState$ | async).viewMessage)">
    <ion-label>
      {{'viewMessagePage.respondToMessage' | translate}}
    </ion-label>
  </ion-item-divider>

  <div [hidden]="(messagesState$ | async).viewMessage?.Type === 0 || !isInTheFuture((messagesState$ | async).viewMessage) || !canSignup((messagesState$ | async).viewMessage)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="primary">{{'viewMessagePage.respondToMessageLabel' | translate}}</ion-label>
          <ion-textarea placeholder="Note for your response (supply before pressing a button)" [(ngModel)]="note"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="button-group" [hidden]="(messagesState$ | async).viewMessage?.Type === 0">
      <ion-row>
        <ion-col>
          <ion-button expand="full" fill="solid" color="success" (click)="setResponding(1)">
            {{'viewMessagePage.respondToMessageYes' | translate}}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" fill="solid" color="secondary" (click)="setResponding(2)">
            {{'viewMessagePage.respondToMessageMaybe' | translate}}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" fill="solid" color="danger" (click)="setResponding(3)">
            {{'viewMessagePage.respondToMessageNo' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item-divider style="padding-top: 12px;">
    <ion-label>
      {{'viewMessagePage.recipients' | translate}}
    </ion-label>
  </ion-item-divider>

  <ion-list class="is-list-item-start-buttons-end ion-padding ion-no-margin">
    <ion-item class="ion-no-padding" *ngFor="let r of (messagesState$ | async).viewMessage?.Recipients">
      <ion-thumbnail slot="start">
        <img [src]="getAvatarUrl(r.UserId)">
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-item-start-buttons-end-title">{{r.Name}}</p>
        <p>{{formatDate(r.RespondedOn)}}</p>
      </ion-label>
      <div slot="end">
        <ion-label>
          <p class="is-list-item-start-buttons-end-title" [hidden]="!r.RespondedOn">{{r.Note}}</p>
          <p [hidden]="r.Response != '1'" color="success">{{'viewMessagePage.respondToMessageYes' | translate}}</p>
          <p [hidden]="r.Response != '3'" color="danger">{{'viewMessagePage.respondToMessageNo' | translate}}</p>
          <p [hidden]="r.Response != '2'" color="secondary">{{'viewMessagePage.respondToMessageMaybe' | translate}}</p>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid class="is-grid ion-no-padding">
    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-list lines="none" class="ion-padding ion-no-margin is-list-buttons">
          <ion-item color="danger" button detail="false" (click)="delete()">
            <ion-label>{{'viewMessagePage.deleteButton' | translate}}</ion-label>
            <ion-icon slot="end" name="trash-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-list lines="none" class="ion-padding ion-no-margin is-list-buttons">
          <ion-item color="primary" button detail="false" *ngIf="userId != (messagesState$ | async).viewMessage.SendingUserId" (click)="newMessage()">
            <ion-label>{{'viewMessagePage.replyButton' | translate}}</ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-item>
          <ion-item detail="false" *ngIf="userId === (messagesState$ | async).viewMessage.SendingUserId">
            <ion-label></ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>