<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Search..." animated (ionCancel)="hideSearch()" (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>

  <div *ngIf="!(notesState$ | async).notes || (notesState$ | async).notes.length <= 0">
    <cta-panel [topIcon]="'information-circle'" [title]="'notesPage.ctaPanel.title' | translate" [details]="'notesPage.ctaPanel.details' | translate"
      [extraDetails]="'notesPage.ctaPanel.extraDetails' | translate" [btnLabel]="'notesPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="(notesState$ | async).notes && (notesState$ | async).notes.length > 0">
    <app-note-card [note]="note" *ngFor="let note of filterNotes((notesState$ | async).notes)" (click)="viewNote(note)"></app-note-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="!canCreateNote()">
    <ion-fab-button (click)="newNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
