<ion-content fullscreen="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ion-padding">
    <article>
      <div class="callList">
        <div>
          <h5>
            {{(protocolsState$ | async)?.viewprotocol?.Name}}
          </h5>
          <p [innerHTML]="(protocolsState$ | async)?.viewprotocol?.Description"></p>
        </div>
      </div>
      <div padding>
        <ion-segment [(ngModel)]="tabType" scrollable="true">
          <ion-segment-button value="text">
            Protocol Text
          </ion-segment-button>
          <ion-segment-button value="info">
            Info
          </ion-segment-button>
          <ion-segment-button value="attachments">
            Attachments
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="tabType" style="overflow-y: auto;">
        <div *ngSwitchCase="'text'">
          <span [innerHtml]="(protocolsState$ | async)?.viewprotocol?.ProtocolText"></span>
        </div>

        <ion-list *ngSwitchCase="'info'">
          <ion-item>
            <ion-label>
              <h2>Created On</h2>
              <p>{{(protocolsState$ | async)?.viewprotocol?.CreatedOn}}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'attachments'">
          <ion-item *ngFor="let attachment of (protocolsState$ | async).viewprotocol?.Attachments" (click)="viewAttachment(attachment.FileName, attachment.Id)">
            <ion-label>
              <h2>{{attachment.FileName}}</h2>
              <p>{{attachment.FileType}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        
      </div>
    </article>
  </div>
</ion-content>
