<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'selectRecipientsPage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="essential-theme" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-item-group *ngFor="let group of recipients | groupBy:'Type'">
		<ion-item-divider light>{{group.key}}</ion-item-divider>
		<ion-item *ngFor="let option of group.value">
			<ion-label>{{option.Name}}</ion-label>
			<ion-checkbox color="primary" (ionChange)="selectOption($event, option.Id)" [checked]="option.Selected"></ion-checkbox>
		</ion-item>
	</ion-item-group>
</ion-content>
<ion-footer>
  <ion-grid class="is-grid ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list lines="none" class="ion-padding ion-no-margin is-list-buttons">
          <ion-item color="primary" button detail="false" (click)="confirm()">
            <ion-label>{{'selectRecipientsPage.saveButton' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>