<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'newMessagePage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="essential-theme">
  <ion-list class="ion-padding">
    <ion-item (click)="selectRecipients()">
      <ion-label position="stacked">{{'newMessagePage.recipientsLabel' | translate}}</ion-label>
      <ion-text color="secondary">{{recipientList}}</ion-text>
      <ion-button slot="end" fill="clear" (click)="selectRecipients()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'newMessagePage.typeLabel' | translate}}</ion-label>
      <ion-select placeholder="Type" [(ngModel)]="type">
        <ion-select-option value="0">{{'newMessagePage.messageType' | translate}}</ion-select-option>
        <ion-select-option value="1">{{'newMessagePage.callbackType' | translate}}</ion-select-option>
        <ion-select-option value="2">{{'newMessagePage.pollType' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'newMessagePage.subjectLabel' | translate}}</ion-label>
      <ion-input type="text" placeholder="Enter subject here..." [(ngModel)]="subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'newMessagePage.bodyLabel' | translate}}</ion-label>
      <ion-textarea placeholder="Enter message here..." rows="10" cols="20" [(ngModel)]="body"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid class="is-grid ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list lines="none" class="ion-padding ion-no-margin is-list-buttons">
          <ion-item color="primary" button detail="false" (click)="send()">
            <ion-label>{{'newMessagePage.sendButton' | translate}}</ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>