<div class="container voice-header">
  <ion-grid>
    <ion-row>
      <ion-col>
        <vg-player style="height: 50px;" (onPlayerReady)="onPlayerReady($event)" [style.width]="getPlayerWidth()">
          <vg-controls>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-volume></vg-volume>
          </vg-controls>

          <audio #media [vgMedia]="$any(media)" id="myAudio" preload="auto">
            <source *ngFor="let audio of streams" [src]="audio.Url">
          </audio>
        </vg-player>
      </ion-col>
      <ion-col *ngIf="(settingsState$ | async).loggedIn">
        <ion-button (click)="viewStreams()" color="primary">
          <ion-icon name="volume-off-outline" *ngIf="(voiceState$ | async).activeAudioStream == null || (voiceState$ | async).activeAudioStream.Name == 'Off'"></ion-icon>
          <ion-icon name="volume-high-outline" color="success" *ngIf="(voiceState$ | async).activeAudioStream != null && (voiceState$ | async).activeAudioStream.Name != 'Off'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="((voiceState$ | async).isVoiceEnabled && (settingsState$ | async).loggedIn && (homeState$ | async).isMobileApp)">
        <ion-button (click)="openPTT()" color="primary">
          <ion-icon name="mic-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>