<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'newNotePage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="essential-theme">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">{{'newNotePage.titleLabel' | translate}}</ion-label>
      <ion-input type="text" placeholder="Enter note title here..." [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'newNotePage.categoryLabel' | translate}}</ion-label>
      <ion-select placeholder="Choose Category" [compareWith]="compareWith" [(ngModel)]="category" interface="action-sheet">
        <ion-select-option *ngFor="let category of (notesState$ | async).noteCategories;" [value]="category">{{ category.Category }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'newNotePage.doesNoteExpireLabel' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="doesNoteExpire"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'newNotePage.expiresOnLabel' | translate}}</ion-label>
      <ion-datetime-button datetime="datetime" disabled="{{!doesNoteExpire}}"></ion-datetime-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'newNotePage.isAdminOnlyLabel' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="isAdminOnly"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'newNotePage.bodyLabel' | translate}}</ion-label>
      <ion-textarea placeholder="Enter new note here..." rows="10" cols="20" [(ngModel)]="body"></ion-textarea>
    </ion-item>
    <ion-item color="primary" button detail="false" (click)="save()">
      <ion-label>{{'newNotePage.saveButton' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>