<ion-card [ngStyle]="{'background-color': getColor() }">
  <ion-item lines="none" class="user_data" [ngStyle]="{'background-color': getColor() }">
    <ion-label>
     <p [style.color]="invertColor(getColor(), true)"><b>{{ call?.Name }}</b></p> 
    </ion-label>
    <ion-label slot="end" class="ion-no-margin ion-text-right">
      <span [style.color]="invertColor(getColor(), true)">{{ call?.LoggedOnUtc | rgTimeAgoUtc }}</span>
    </ion-label>
  </ion-item>
  <ion-card-header class="ion-text-left">
    <ion-card-subtitle [style.color]="invertColor(getColor(), true)" [innerHtml]="call?.Nature"></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
      <ul style="width: 100%;">
        <li style="width: 100%;">
          <ion-item lines="none" [ngStyle]="{'background-color': getColor() }">
            <ion-label [style.color]="invertColor(getColor(), true)">{{ call?.Address }}</ion-label>
          </ion-item>
        </li>
        <li style="width: 100%;">
          <ion-item lines="none" [ngStyle]="{'background-color': getColor() }">
            <ion-label [style.color]="invertColor(getColor(), true)">{{ call?.Number }}</ion-label>
          </ion-item>
        </li>
      </ul>
  </ion-card-content>
</ion-card>