<app-header [title]="'messagesPage.title' | translate"></app-header>
<ion-content [fullscreen]="true">
  <div padding>
    <ion-segment [(ngModel)]="tabType" scrollable="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="received">
        {{ 'messagesPage.inboxTab' | translate }}
      </ion-segment-button>
      <ion-segment-button value="sent">
        {{ 'messagesPage.outboxTab' | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tabType" style="overflow-y: auto;">
    <div *ngSwitchCase="'received'" class="essential-theme">
      <cta-panel *ngIf="!(messagesState$ | async).inboxMessages || (messagesState$ | async).inboxMessages.length <= 0" [topIcon]="'information-circle'"
        [title]="'messagesPage.ctaPanel.title' | translate" [details]="'messagesPage.ctaPanel.details' | translate" [extraDetails]="'messagesPage.ctaPanel.extraDetails' | translate"
        [btnLabel]="'messagesPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>

      <ion-refresher slot="fixed" (ionRefresh)="refreshInbox($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item lines="none" *ngFor="let m of (messagesState$ | async).inboxMessages" class="email" (click)="viewMessage(m)">

          <div slot="start" class="ion-no-margin" style="padding-right: 4px;">
            <img class="user-image" [src]="getAvatarUrl(m.SendingUserId)" />
          </div>

          <ion-label color="dark" class="ion-text-wrap ion-text-capitalize">
            {{ m.SendingName }}
            <p><b>{{ m.Subject }}</b></p>
            <p class="excerpt">
              {{ (m.Body.length>50)? (m.Body | slice:0:50)+'...':(m.Body) }}
            </p>
          </ion-label>

          <div class="ion-text-right" style="z-index: 5;" slot="end">
            <div class="date" [hidden]="m.Type != 0">{{'messagesPage.messageTypeLabel' | translate}}</div>
            <div class="date" [hidden]="m.Type != 1">{{'messagesPage.callbackTypeLabel' | translate}}</div>
            <div class="date" [hidden]="m.Type != 2">{{'messagesPage.pollTypeLabel' | translate}}</div>
            <p class="date">{{ m.SentOn | date:'dd. MMM YY' }}</p>
          </div>

        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'sent'" class="essential-theme">
      <cta-panel *ngIf="!(messagesState$ | async).outboxMessages || (messagesState$ | async).outboxMessages.length <= 0" [topIcon]="'information-circle'"
        [title]="'messagesPage.ctaPanel2.title' | translate" [details]="'messagesPage.ctaPanel2.details' | translate" [extraDetails]="'messagesPage.ctaPanel2.extraDetails' | translate"
        [btnLabel]="'messagesPage.ctaPanel2.buttonLabel' | translate" [hideButton]="true"></cta-panel>

      <ion-refresher slot="fixed" (ionRefresh)="refreshOutbox($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item lines="none" *ngFor="let m of (messagesState$ | async).outboxMessages" class="email" (click)="viewMessage(m)">

          <div slot="start" class="ion-no-margin">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="user-image" animation="spinner" [src]="getAvatarUrl(m.SendingUserId)"></app-image-shell>
            </app-aspect-ratio>
          </div>

          <ion-label color="dark" class="ion-text-wrap ion-text-capitalize">
            {{ m.Subject }}
            <p class="excerpt">
              {{ (m.Body.length>50)? (m.Body | slice:0:50)+'...':(m.Body) }}
            </p>
          </ion-label>

          <div class="ion-text-right" style="z-index: 5;" slot="end">
            <p class="date">{{ m.SentOn | date:'dd. MMM YY' }}</p>
          </div>

        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="!canCreateMessage()">
    <ion-fab-button (click)="newMessage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>