<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'closeCallPage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="essential-theme">
  <ion-list>
    <ion-item>
      <ion-label>Call Name</ion-label>
      {{(callsState$ | async)?.callToView?.Name}}
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-select-option value="1">Closed</ion-select-option>
        <ion-select-option value="2">Cancelled</ion-select-option>
        <ion-select-option value="3">Unfounded</ion-select-option>
        <ion-select-option value="4">Founded</ion-select-option>
        <ion-select-option value="5">Minor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Note</ion-label>
      <ion-textarea placeholder="Enter a close note" [(ngModel)]="note"></ion-textarea>
    </ion-item>
</ion-list>
</ion-content>
<ion-footer>
  <ion-grid class="is-grid ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
          <ion-button expand="full" (click)="closeCall()" [disabled]="!isValid()">{{'closeCallPage.saveButton' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>