<ion-content [fullscreen]="true">
  <div *ngIf="!(protocolsState$ | async).protocols || (protocolsState$ | async).protocols.length <= 0">
    <cta-panel [topIcon]="'information-circle'" [title]="'protocolsPage.ctaPanel.title' | translate" [details]="'protocolsPage.ctaPanel.details' | translate"
      [extraDetails]="'protocolsPage.ctaPanel.extraDetails' | translate" [btnLabel]="'protocolsPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
  </div>
  <ion-list *ngIf="(protocolsState$ | async).protocols && (protocolsState$ | async).protocols.length > 0">
    <app-protocols-card [protocol]="protocol" *ngFor="let protocol of (protocolsState$ | async).protocols" (click)="viewProtocol(protocol)"></app-protocols-card>
  </ion-list>
</ion-content>
