<div class="bookings">
  <ion-row style="padding-bottom: 10px; border-bottom: 1px solid lightgray;">
    <ion-col size="12">
      <ion-label class="person-name">{{note.Title}}</ion-label>
      <ion-label class="person-roles">
        {{note.Category}}
      </ion-label>
      <ion-label class="person-group">
        {{getDate(note.AddedOn)}}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="padding: 10px; border-bottom: 1px solid lightgray;">
    <ion-col size="12">
      <span [innerHtml]="note.Body"></span>
    </ion-col>
  </ion-row>
</div>