<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'editCallPage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="essential-theme">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">{{'editCallPage.nameLabel' | translate}}</ion-label>
      <ion-input type="text" placeholder="Title for the call" [(ngModel)]="subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'editCallPage.priorityLabel' | translate}}</ion-label>
      <ion-select [(ngModel)]="priority">
        <ion-select-option value="{{priority.Id}}" *ngFor="let priority of (homeState$ | async).callPriorties">{{priority.Name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'editCallPage.typeLabel' | translate}}</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-select-option value="{{type.Name}}" *ngFor="let type of (homeState$ | async).callTypes">{{type.Name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'editCallPage.callIdLabel' | translate}}</ion-label>
      <ion-input type="text" placeholder="Call id (i.e. from an external system)" [(ngModel)]="callId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'editCallPage.natureLabel' | translate}}</ion-label>
      <ion-textarea placeholder="The nature of the call and its details" rows="10" cols="20" [(ngModel)]="body"></ion-textarea>
    </ion-item>
    <ion-list-header> {{'editCallPage.contactInfoHeader' | translate}} </ion-list-header>
    <ion-item>
      <ion-label position="stacked">{{'editCallPage.contactNameLabel' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="contactName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'editCallPage.contactNumberLabel' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="contactNumber"></ion-input>
    </ion-item>
    <ion-list-header> {{'editCallPage.locationHeader' | translate}} </ion-list-header>
    <ion-item>
      <div padding>
        <ion-segment [(ngModel)]="locationType">
          <ion-segment-button value="address">
            Address
          </ion-segment-button>
          <ion-segment-button value="gps">
            GPS
          </ion-segment-button>
          <ion-segment-button value="w3w">
            what3words
          </ion-segment-button>
          <ion-segment-button value="plus">
            Plus Code
          </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="locationType">
          <div *ngSwitchCase="'address'">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input label="{{'newCallPage.addressLabel' | translate}}" labelPlacement="stacked" [(ngModel)]="address"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-button size="small" color="secondary" (click)="findCoordinatesForAddress()">Search for Address</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngSwitchCase="'gps'">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input label="{{'newCallPage.latitudeLabel' | translate}}" labelPlacement="stacked" [(ngModel)]="lat"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input label="{{'newCallPage.longitudeLabel' | translate}}" labelPlacement="stacked" [(ngModel)]="lon"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-button size="small" color="secondary" (click)="findCoordinates()">Find Coordinates</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngSwitchCase="'w3w'">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input label="{{'newCallPage.what3wordsLabel' | translate}}" labelPlacement="stacked" [(ngModel)]="w3w"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-button size="small" color="secondary" (click)="findCoordinatesForW3W()">Search for w3w</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngSwitchCase="'plus'">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input label="{{'newCallPage.googlePlusLabel' | translate}}" labelPlacement="stacked" [(ngModel)]="plus"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-button size="small" color="secondary" (click)="findCoordinatesForPlus()">Search for Plus Code</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div style="height: 200px !important; width: 100% !important; overflow: hidden;" (click)="showSetLocationModal()">
        <div #callMap id="callMap" name="callMap" 
          style="height: 200px !important; width: 100% !important; overflow: hidden;"></div>
      </div>
    </ion-item>
    <ion-list-header> {{'editCallPage.dispatchHeader' | translate}} </ion-list-header>
    <ion-item (click)="selectRecipients()">
      <ion-label position="stacked">{{'editCallPage.recipientsLabel' | translate}}</ion-label>
      <ion-text color="secondary">{{recipientList}}</ion-text>
      <ion-button slot="end" fill="clear" (click)="selectRecipients()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'editCallPage.redispatchLabel' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="redispatch"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid class="is-grid ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list lines="none" class="ion-padding ion-no-margin is-list-buttons">
          <ion-item color="primary" button detail="false" (click)="send()">
            <ion-label>{{'editCallPage.dispatchButton' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>