<div class="bookings">
  <ion-row style="padding-bottom: 10px; border-bottom: 1px solid lightgray;">
    <ion-col size="12">
      <ion-label class="person-name">{{protocol.Name}}</ion-label>
      <ion-label class="person-roles">
        {{protocol.Code}}
      </ion-label>
      <ion-label class="person-group">
        {{getDate(protocol.CreatedOn)}}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="padding: 10px; border-bottom: 1px solid lightgray;">
    <ion-col size="12">
      <span [innerHtml]="protocol.Description"></span>
    </ion-col>
  </ion-row>
</div>