.bookings {
  width: 94%;
  margin-top: 20px;
  margin-left: 10px;
  box-shadow: 0px 0px 10px 0px grey;
  border-radius: 5px;
  overflow: hidden;

  .person-name {
    display: block;
    font-size: 16px;
    text-align: left;
  }

  .person-roles {
    display: block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    color: gray;
    text-align: left;
  }

  .person-group {
    display: block;
    font-size: 14px;
    text-align: left;
  }

  .date-time {
    font-size: 12px;
    display: block;
    text-align: right;
    color: var(--ion-color-primary);
  }
}
