<ion-content [fullscreen]="true">
  <div *ngIf="!(voiceState$ | async).isVoiceEnabled">
    <cta-panel [topIcon]="'information-circle'" [title]="'pttPage.ctaPanel.title' | translate" [details]="'pttPage.ctaPanel.details' | translate"
      [extraDetails]="'pttPage.ctaPanel.extraDetails' | translate" [btnLabel]="'pttPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
  </div>
  <ion-grid *ngIf="(voiceState$ | async).isVoiceEnabled">
    <ion-row>
      <ion-col style="text-align:center;">
        <div style="height: 6vh; vertical-align: bottom;">&nbsp;
          <h4 *ngIf="(voiceState$ | async).isTransmitting">{{'pttPage.transmittingOnChan' | translate}} {{selectedChannel.Name}}</h4>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="buttonCol">
        <div class="circle" [class.glow-on-hover]="(voiceState$ | async).isTransmitting" (click)="toggleTransmitting()">
          <div class="circle__inner">
            <div class="circle__wrapper">
              <div class="circle__content" *ngIf="!(voiceState$ | async).isTransmitting">
                {{'pttPage.startTalking' | translate}}
              </div>
              <div class="circle__content" *ngIf="(voiceState$ | async).isTransmitting">
                {{'pttPage.stopTalking' | translate}}
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align:center;">
        <h4 *ngIf="!(voiceState$ | async).currentActiveVoipChannel || (voiceState$ | async).currentActiveVoipChannel.Id === ''">{{'pttPage.noChanSelected' | translate}}</h4>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
