<ion-tabs>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        {{'appName' | translate}}
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <app-voice-header slot="end"></app-voice-header>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map" *ngIf="(settingsState$ | async).loggedIn">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>{{'tabsPage.mapTab' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calls" *ngIf="(settingsState$ | async).loggedIn">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>{{'tabsPage.callsTab' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>{{'tabsPage.notesTab' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="protocols">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>{{'tabsPage.protocolsTab' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>{{'tabsPage.settingsTab' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>