<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Search..." animated (ionCancel)="hideSearch()" (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>

  <div *ngIf="!(callsState$ | async).activeCalls || (callsState$ | async).activeCalls.length <= 0">
    <cta-panel [topIcon]="'information-circle'" [title]="'callsPage.ctaPanel.title' | translate" [details]="'callsPage.ctaPanel.details' | translate"
      [extraDetails]="'callsPage.ctaPanel.extraDetails' | translate" [btnLabel]="'callsPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="(callsState$ | async).activeCalls && (callsState$ | async).activeCalls.length > 0">
    <app-call-card [call]="call.Call" [priority]="call.CallPriority" *ngFor="let call of filterCalls((callsState$ | async).activeCalls)" (click)="viewCall(call.Call.CallId)"></app-call-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="canCreateCall()">
    <ion-fab-button (click)="newCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
