<div class="cta-panel" style="height: 100%;">
  <ion-icon *ngIf="topIcon" [name]="topIcon" class="top-icon"></ion-icon>

  <h1 *ngIf="title">{{title}}</h1>

  <div *ngIf="details" class="details">{{details}}</div>
  <div *ngIf="extraDetails">
    {{extraDetails}}
    <ion-icon *ngIf="extraDetailsIcon" [name]="extraDetailsIcon" class="extra-details-icon"></ion-icon>
  </div>

  <button *ngIf="btnLabel && !hideButton" (click)="onCtaClick()" ion-button class="cta-button">{{btnLabel}}</button>
</div>