<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Resgrid Unit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ManualInitAudioDevice</key>
	<string>FALSE</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Media library is used for Call image attachments</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth used for headset and Push-To-Talk</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth used for headset and Push-To-Talk</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used for call files and video calls</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts used for push to talk and calling</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location is used for unit tracking</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is used for unit tracking</string>
	<key>NSLocationUsageDescription</key>
	<string>Location is used for unit tracking</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used for unit tracking</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone is used for Push-To-Talk feature</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo library used to attaching photos to calls</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library used to attaching photos to calls</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>push-to-talk</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UseManualLayoutRenderer</key>
	<true/>
</dict>
</plist>
